body{
/*	background-color: #F2F1EF;*/
	background-color: white;
	font-family: Crimson Text;
}
.title-bar-heihgt{
	height: 160px;
}
.logobar{
	width: 100%;
	height: 160px;
	position: absolute;
}
.logo_blue_bar{
	width: 100%;
	margin-top: 100px;
	height: 20px;
	background-color: #6BA9D9;
}
.wrapper{
	height: 100%;
}
.content{
	min-height: 100%;
	padding-bottom: 100px;
}
.footer{
	height: 100px;
	margin-top: -100px;
	background-color: #6C7A89;
}
.spinner {
	display: inline-block;
	opacity: 0;
	width: 0;

	-webkit-transition: opacity 0.25s, width 0.25s;
	-moz-transition: opacity 0.25s, width 0.25s;
	-o-transition: opacity 0.25s, width 0.25s;
	transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
	cursor:progress;
}

.has-spinner.active .spinner {
	opacity: 1;
	width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
	width: 10px;
}

.has-spinner.btn-small.active .spinner {
	width: 13px;
}

.has-spinner.btn.active .spinner {
	width: 16px;
}

.has-spinner.btn-large.active .spinner {
	width: 19px;
}
a:hover{
	cursor: pointer;
}
.flag-normal{
	height: 75px;
	width: 110px;
}

.flag-small{
	height: 50px;
	width: 75px;
}
