<!DOCTYPE>
<html>
<head>
<title>Admin2 | TWMUN</title>
<meta charset="UTF-8">
<link href="/icon.ico" rel="SHORTCUT ICON">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Crimson+Text" />
<link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript" src="/semantic/semantic.min.js"></script>
<style>
</style>
</head>
	<body style="padding: 20px;">
	{{meta}}
		<table class="ui celled table">
			<thead>
				<th class="center aligned">中文名<br>英文名</th>
				<th class="center aligned">帳號後五碼<br>信用卡後四碼</th>
				<th class="center aligned">付款日期</th>
				<th class="center aligned">付款</th>
			</thead>
			<tbody>
				{% for data in meta %}
					<tr>
						<td class="center aligned">{{data["chinesename"]}}<br>{{data["englishname"]}}</td>
						<td class="center aligned">data["paycode"]</td>
						<td class="center aligned">data["paydate"]</td>
						<td class="center aligned">
							{% if data["pay"] %}
								<div class="ui green button">已付</div>
							{% else %}
								<div class="ui red button">未付</div>
							{% end %}
						</td>
					</tr>
				{% end %}
			</tbody>
		</table>
	</body>
</html>

<test>
