<!DOCTYPE>
<html>
	<head>
		<title>Admin1 | TWMUN</title>
		<meta charset="UTF-8">
		<link href="/icon.ico" rel="SHORTCUT ICON">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Crimson+Text" />
		<link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
		<script type="text/javascript" src="/jquery.js"></script>
		<script type="text/javascript" src="/semantic/semantic.min.js"></script>
		<style>
			.wrapper{
				height: 100%;
			}
			.up_table{
				height: 30%;
				overflow: auto;
				padding: 20px;
			}
			.down_table{
				height: 70%;
				overflow: auto;
				padding: 20px;
			}
			.pointer:hover{
				cursor: pointer;
			}
			.auto{
				overflow: auto;
			}
		</style>
	</head>
	<body>
		<div class="wrapper">
			<div class="up_table">
				<table class="ui celled table" style="height: 100%">
					<thead style="height: 12px;">
						<tr>
							<th class="auto center aligned" style="width: 10%">Address</th>
							<th class="auto center aligned" style="width: 10%">S/D</th>
							<th class="auto center aligned" style="width: 20%">Experience</th>
							<th class="auto center aligned" style="width: 15%">Preference</th>
							<th class="auto center aligned" style="width: 15%">Country</th>
							<th class="auto center aligned" style="width: 25%">How hear TWMUN</th>
							<th class="auto center aligned" style="width: 5%">Save</th>
						</tr>
					</thead>
					<tbody style="height: 80%">
						<tr id="detail" data-uid="">
							<td class="auto center aligned"></td>
							<td class="auto center aligned"></td>
							<td class="auto center aligned"></td>
							<td class="auto center aligned"></td>
							<td class="auto center aligned"></td>
							<td class="auto center aligned hearabout"></td>
							<td></td>
						</tr>
						<tr id="detail_template" hidden>
							<td class="center aligned">%nationality%<br>%city%<br>%address%</td>
							<td class="center aligned" data-delegation-englishname="%delegation_englishname%" data-delegation-email="%delegation_email%">%delegation%</td>
							<td class="center aligned">%experience%</td>
							<td class="committee-preference" >
								{% for i in range(6) %}
									<div class="field">
										<div class="ui radio checkbox">
											<input type="radio" name="preference" value="{{i}}" />
											<label label-id="{{i}}"></label>
										</div>
									</div>
								{% end %}
							</td>
							<td class="center aligned" style="padding: 0px;">
								<textarea name="country" style="width: 100%; height: 100%; border: 0px; resize: none;">%country%</textarea>
							</td>
							<td class="center aligned">%hearabout%</td>
							<td class="center aligned"><div class="ui green button" onclick="save();">Save</div></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="down_table">
				<table class="ui celled table" style="height: 100%">
					<thead style="height: 24px;">
						<tr>
							<th class="center aligned">中文名<br>英文名</th>
							<th class="center aligned">性別</th>
							<th class="center aligned">生日<br>國籍</th>
							<th class="center aligned">大學<br>科系<br>class of</th>
							<th class="center aligned">手機<br>Email</th>
							<th class="center aligned">住宿<br>吃</th>
						</tr>
					</thead>
					<tbody style="height: 80%" id="sd">
						{% set b2s = ["No", "Yes"] %}
						{% for data in meta %}
							{% set hear_about = "<br>".join(data["hearabout"]) %}
							<tr class="pointer" onclick="show_detail(this);" 
								data-id="{{data['uid']}}"
								data-nationality="{{data['nationality']}}"
								data-city="{{data['city']}}"
								data-address="{{data['address']}}"
								data-hearabout="{{hear_about}}"
								data-delegation="{{data['delegation']}}"
								data-delegation-englishname="{{data['delegation_englishname']}}"
								data-delegation-email="{{data['delegation_email']}}"
								data-experience="{{data['experience']}}"
								data-committee-preference="{{data['committee_preference']}}"
								data-preference="{{data['preference']}}"
								data-country="{{data['country']}}"
								data-hearabout="{{'<br>'.join(data['hearabout'])}}"
								>
								<td class="center aligned">{{data["chinesename"]}}<br>{{data["englishname"]}}</td>
								<td class="center aligned">{{data["gender"]}}</td>
								<td class="center aligned">{{data["birth"]}}<br>{{data["nationality"]}}</td>
								<td class="center aligned">{{data["university"]}}<br>{{data["department"]}}<br>{{data["grade"]}}</td>
								<td class="center aligned">{{data["cellphone"]}}<br>{{data["email"]}}</td>
								<td class="center aligned">{{b2s[data["require_accommodation"]]}}<br>{{b2s[data["vegetarian"]]}}</td>
							</tr>
						{% end %}
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>

<script>
function show_detail(ele){
	ele = $(ele);
	$("#sd").children("tr").each(function(){
		if( $(this).attr("data-id") == ele.attr("data-id") )
			$(this).addClass("positive");
		else
			$(this).removeClass("positive");
		});
	$('#detail').attr('data-uid', ele.attr('data-id'));
	template = $("#detail_template").html();
	list = ["nationality", "city", "address", "hearabout", "delegation", "experience", "country"];
	$.each(list, function(k, v){
		reg = new RegExp("%"+v+"%", 'g');
		template = template.replace(reg, ele.attr("data-"+v));
	});
	$("#detail").html(template);
	CP_OPTION = ["　", "DISEC", "SPECPOL", "ECOSOC", "IACHR", "PC", "立法院"];
	CP = JSON.parse(ele.attr('data-committee-preference'));
	$('td.committee-preference').find('label').each(function(){
		$(this).text(CP_OPTION[CP[$(this).attr('label-id')]]);
	});
	$('#detail').find('label[label-id='+ele.attr('data-preference')+']').parent().children('input').attr('checked',true);
	$('.ui.radio.checkbox').checkbox();
}
function save(){
	preference = $('td.committee-preference').find('input[name=preference]:checked').val();
	country = $('textarea[name=country]').val();
	uid = $('#detail').attr('data-uid');
	if(typeof(preference) == 'undefined' || country == ''){
		return false;
	}
	$.post('/admin', {
		'req': 'admin1',
		'uid': uid,
		'preference': preference,
		'country': country
	},function(res){
		alert(res);
	});
}
</script>
