{% extends 'frame.html' %}
{% block content %}
<style>
.login-border{
	margin: 0 auto;
	margin-top: 32px;
	padding-top: 12px;
	padding-bottom: 24px;
}
</style>
<div class="container-fluid">
	<div class="row title-bar-height">
		<div class="col-lg-10 col-md-9 col-sm-8 col-xs-8">
			<h2><p>Welcome to TWMUN</p></h2>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4" style="text-align: right; padding-top: 12px;">
			<div style="margin-bottom: 10px;">
				<a class="btn btn-default" onclick="register();" style="width: 120px;">Register</a>
			</div>
			<div>
				<a class="btn btn-default" onclick="forgot();" style="width: 120px;">Forget Password</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3">
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 text-center">
			<div class="login-border">
				<h3>Login</h3>
				<form class="form-horizontal login-form" style="padding-left: 15%; width: 70%;">
					<div class="form-group">
						<label class="col-sm-offset-1 col-sm-3 control-label">Email</label>
						<div class="col-sm-7">
							<input class="form-control" name="email" type="text">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-offset-1 col-sm-3 control-label">Password</label>
						<div class="col-sm-7">
							<input class="form-control" name="pwd" type="password">
						</div>
					</div>
					<input type="hidden" name="req" value="signin">
					<div class="col-sm-offset-2 col-sm-9 alert alert-danger" role="alert" hidden>Invalid email or password.</div>
					<div class="form-group">
						<div class="col-sm-offset-6 col-sm-3">
							<input id="login_submit" type="submit" class="btn btn-default btn-block" value="LogIn">
							<script>
								$("#login_submit").click(function(){
										login();
										return false;
								});
							</script>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3">
		</div>
	</div>
</div>
<div class="hidden register-modal">
	<form class="form-horizontal register-form">
		<div class="form-group">
			<label class="col-sm-4 control-label">Email</label>
			<div class="col-sm-7">
				<input name="email" class="form-control" type="text">
			</div>
		</div>	
		<div class="form-group">
			<label class="col-sm-4 control-label">Password</label>
			<div class="col-sm-7">
				<input name="pwd" class="form-control" type="password">
			</div>
		</div>	
		<div class="form-group">
			<label class="col-sm-4 control-label">Confirm Password</label>
			<div class="col-sm-7">
				<input name="rpwd" class="form-control" type="password">
			</div>
		</div>
		<input type="hidden" name="req" value="signup">
	</form>
</div>
<div class="hidden forgot-modal">
	<form class="form-horizontal forgot-form">
		<div class="form-group">
			<label class="col-sm-4 control-label">Email</label>
			<div class="col-sm-7">
				<input name="email" class="form-control" type="text">
			</div>
		</div>	
	</form>
</div>
<script>
$(document).ready(function(){
	document.title = "Login | TWMUN";
})
function login(){
	data = $(".login-form").serialize();
	console.log(data);
	$.post("/login", data, function(msg){
		if(msg != "S"){
			$(".alert.alert-danger").show();
		} else {
			window.location = window.location;
		}
	});
}
function register(){
	message = $(".register-modal").html();
	bootbox.dialog({
		message: message,
		title: "Register",
		buttons: {
			success: {
				label: "Register",
				className: "btn-success",
				callback: function() {
					data = $(".register-form:visible").serialize();
					$.post("/login", data, function(msg){
						bootbox.alert(msg);
					});
					return false;
				}
			},
			danger: {
				label: "Cancel",
				className: "btn-danger",
				callback: function() {
				}
			}
		}
	});
}
function forgot(){
	message = $(".forgot-modal").html();

	bootbox.dialog({
		message: message,
		title: "Forgot Password",
		buttons: {
			success: {
				label: "Send",
				className: "btn-success",
				callback: function(){
					return false;
				}
			},
			danger: {
				label: "Cancel",
				className: "btn-danger",
				callback: function(){
				}
			}
		}
	});
}
</script>
{% end %}
