{% extends 'frame.html' %}
{% block content %}
<div class="container-fluid">
	<div class="row" style="height: 120px;">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<h2><p>Welcome to TWMUN</p></h2>
		</div>
		<!--div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right; padding-top: 8px; font-size: 20px;">
			Taiwan
			<img src="/flag/ROC_FLAG.jpg" style="height: 50%; background-color: #F2F1EF;">
		</div-->
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-2">
		</div>
		<div class="col-lg-8">
		
			<form class="form-horizontal information-form">
                <input type="hidden" name="uid" value="{{acct['uid']}}">
				<h1>　</h1>
				<div class="form-group">
					<label class="col-sm-2 control-label">Chinese Name</label>
					<div class="col-sm-3">
                        <input name="chinesename" class="form-control" type="text" value="{{meta['chinesename']}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">English Name</label>
					<div class="col-sm-3">
                        <input name="englishname" class="form-control" type="text" value="{{meta['englishname']}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Gender</label>
					<div class="col-sm-3">
						<select name="gender" class="selectpicker" data-width="100%">
							<option>Male</option>
							<option>Female</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Birth</label>
					<div class="col-sm-3">
                        <input name="birth" type="text" class="form-control datepicker" value="{{meta['birth']}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nationality</label>
					<div class="col-sm-3">
						<select name="nationality" class="selectpicker" data-width="100%" data-size="20" data-live-search="true">
							{% for x in nationality %}
                                <option value="{{nationality[x]}}">{{nationality[x]}}</option>
							{% end %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Vegetarian</label>
					<div class="col-sm-3">
						<select name="vegetarian" class="selectpicker" data-width="100%">
                            <option value="1" >Yes</option>
							<option value="0">No</option>
						</select>
					</div>
				</div>
				<h1>　</h1>
				<!--h1>University</h1-->
				<div class="form-group">
					<label class="col-sm-2 control-label">University</label>
					<div class="col-sm-3">
                        <input name="university" class="form-control" type="text" value="{{ meta['university'] }}">
					</div>
					<label class="col-sm-offset-2 col-sm-10 control-label" style="text-align: left">Full Chinese name of School</label>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Department</label>
					<div class="col-sm-3">
                        <input name="department" class="form-control" type="text" value="{{ meta['department'] }}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Grade</label>
					<div class="col-sm-3">
						<select name="grade" class="selectpicker" data-width="100%">
							{% for x in range(2010, 2021) %}
								<option>{{x}}</option>
							{% end %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Delegation</label>
					<div class="col-sm-3">
						<select name="delegation" class="selectpicker" data-width="100%" onchange="delegation_change();">
							<option value="1">Single</option>
							<option value="2">Double</option>
						</select>
					</div>
				</div>
				<div class="delegation form-group" hidden>
					<label class="col-sm-2 control-label">Partner's English Name</label>
					<div class="col-sm-3">
                        <input name="delegation_englishname" class="form-control" type="text" value="{{ meta['delegation_englishname'] }}">
					</div>
					<label class="col-sm-4 control-label" style="text-align: left">
						Exactly the same as how your partner wrote it
					</label>
				</div>
				<div class="delegation form-group" hidden>
					<label class="col-sm-2 control-label">Partner's Email</label>
					<div class="col-sm-3">
                        <input name="delegation_email" class="form-control" type="text" value="{{ meta['delegation_email'] }}">
					</div>
				</div>
				<h1>　</h1>
				<!--h1>Contact Information</h1-->
				<div class="form-group">
					<label class="col-sm-2 control-label">Country of Residence</label>
					<div class="col-sm-3">
						<select name="residence" class="selectpicker" data-width="100%" data-size="20" data-live-search="true">
							{% for x in nationality %}
								<option>{{nationality[x]}}</option>
							{% end %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">City</label>
					<div class="col-sm-3">
                        <input name="city" class="form-control" type="text" value="{{ meta['city'] }}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Address</label>
					<div class="col-sm-3">
                        <input name="address" class="form-control" type="text" value="{{ meta['address'] }}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Cellphone</label>
					<div class="col-sm-3">
                        <input name="cellphone" class="form-control" type="text" value="{{ meta['cellphone'] }}">
					</div>
				</div>
				<h1>　</h1>
				<!--h1>Other</h1-->
				<div class="form-group">
					<label class="col-sm-2 control-label">Accommodation</label>
					<div class="col-sm-3">
						<select name="require_accommodation" class="selectpicker" data-width="100%" value="0">
							<option value="1">Yes</option>
							<option value="0">No</option>
						</select>
					</div>
					<label class="col-sm-offset-2 col-sm-10 control-label" style="text-align: left;">
						(We do not help delegates reserve accommodations; however, we will assist you in finding suitable hotels)
					</label>
				</div>
				<div class="form-group">
					<label class="col-sm-12">
						Committee Preference
					</label>
				</div>
				{% set ORDER = ["First", "Second", "Third", "Fourth", "Fifth", "Sixth"] %}
				{% set CP_OPTION = ["　", "DISEC", "SPECPOL", "ECOSOC", "IACHR", "PC", "立法院"] %}
				{% for x in range (6) %}
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ORDER[x]}}</label>
						<div class="col-sm-3">
							<select class="CP selectpicker" data-width="100%" value="0" onchange="CP_CHANGE();">
								{% for y in range(7) %}
									<option class="CP_OPTION" value={{y}}>{{CP_OPTION[y]}}</option>
								{% end %}
							</select>
						</div>
					</div>
				{% end %}
				<input type="hidden" name="committee_preference">
				<div class="form-group PC" hidden>
					<label class="col-sm-offset-2 col-sm-10">
						1. How much you know about the PC?
					</label>
					<div class="col-sm-offset-2 col-sm-5">
						<textarea class="form-control" rows="5" style="resize: none">
						</textarea>
					</div>
				</div>
				<div class="form-group PC" hidden>
					<label class="col-sm-offset-2 col-sm-10">
						2. Why do you want to join the PC and how would you play your roll in the whole conference?
					</label>
					<div class="col-sm-offset-2 col-sm-5">
						<textarea class="form-control" rows="5" style="resize: none">
						</textarea>
					</div>
				</div>
				<br><br>
				<div class="form-group">
					<label class="col-sm-offset-2 col-sm-10">
						Please list your participation related information at Model UN Conferences (countries represented, awards won, etc.). If this is your first Model UN experience, please describe any relevant experience with public speaking/research study related activities:
					</label>
					<div class="col-sm-offset-2 col-sm-5">
						<textarea class="form-control" rows="5" style="resize: none">
						</textarea>
					</div>
				</div>
				<br><br>
				<div class="form-group">
					<label class="col-sm-offset-2 col-sm-10">
						Is there anything else that you would like us to know?
					</label>
					<div class="col-sm-offset-2 col-sm-5">
						<textarea class="form-control" rows="5" style="resize: none">
						</textarea>
					</div>
				</div>
				<br><br>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-2">
						<a class="btn btn-success btn-block has-spinner" onclick="information_save(this);"><span class="spinner"><img src="/728-1.GIF"></span>Save</a>
					</div>
					<div class="col-sm-2">
						<a class="btn btn-success btn-block has-spinner" onclick="information_submit(this);"><span class="spinner"><img src="/728-1.GIF"></span>Submit</a>
					</div>
					<div class="col-sm-2">
						<a class="btn btn-default btn-block has-spinner" onclick="logout(this);"><span class="spinner"><img src="/728.GIF"></span>Logout</a>
					</div>
				</div>
			</form>
		</div>
		<div class="col-lg-2">
			{{meta["committee_preference"]}}
		</div>
	</div>
</div>

<script>

$(document).ready(function(){
	document.title = "Information | TWMUN";
	$(".selectpicker").selectpicker({
		"dropupAuto": 0
	});
	$(".datepicker").datepicker({
		format: "yyyy/mm/dd",
		startDate: "1990/01/01",
		endDate: "1999/12/31"
	});
	CP_CHANGE();
	delegation_change();
    $("[name=nationality]").selectpicker('val', '{{ meta["nationality"] }}');
    $("[name=residence]").selectpicker('val', '{{ meta["residence"] }}');
    $("[name=vegetarian]").selectpicker('val', parseInt({{ meta["vegetarian"] }}));
    $("[name=gender]").selectpicker('val', '{{ meta["gender"] }}');
    $("[name=grade]").selectpicker('val', '{{ meta["grade"] }}');
    $("[name=delegation]").selectpicker('val', parseInt({{ meta["delegation"] }}));
    $("[name=require_accommodation]").selectpicker('val', parseInt({{ meta["require_accommodation"] }}));
	CP = JSON.parse('{{meta["committee_preference"]}}');
	now = 0;
	$(".CP.selectpicker").each(function(){
	});
});
function information_save(ele){
	data = $(".information-form").serialize();
    data += "&req=modify_info";
	$(ele).toggleClass("active disabled");
	console.log(data);
    $.post('/user', data, function(res){
        alert(res);
        $(ele).toggleClass("active disabled");
        window.location = window.location;
    });
}
function information_submit(ele){
	data = $(".information-form").serialize();
    data += "&req=confirm_info";
	$(ele).toggleClass("active disabled");
	console.log(data);
    $.post('/user', data, function(res){
        alert(res);
        $(ele).toggleClass("active disabled");
    });
}
function logout(ele){
	$(ele).toggleClass("active disabled");
	$.post("/logout", function(){
		$(ele).toggleClass("active disabled");
		window.location = window.location;
	});
}
function delegation_change(){
	if($("[name=delegation]").val()=="1"){
		$(".delegation:visible").animate({height: "toggle"});
	} else {
		$(".delegation:hidden").animate({height: "toggle"});
	}
}
function PC_CHANGE(order){
	show = false;
	for(i = 0 ; i < 3 ; i++)
		show = show | (order[i]==5);
	for(i = 0 ; i < 6 ; i++)
		if(!order[i])
			show = false;
	if(show){
		$(".PC:hidden").animate({height: "toggle"});
	} else {
		$(".PC:visible").animate({height: "toggle"});
	}
}
function CP_CHANGE(){
	choose = [0, 0, 0, 0, 0, 0, 0];
	order = [0,0,0,0,0,0];
	now = 0;
	$(".CP.selectpicker").each(function(){
		x = parseInt($(this).val());
		choose[x] = 1;
		order[now++] = x;
	});
	$(".CP.selectpicker").each(function(){
		for(i = 1 ; i <= 6 ; i++){
			if(!choose[i] || parseInt($(this).val()) == i){
				$(this).find("[value="+i+"]").prop("disabled", false);
			} else {
				$(this).find("[value="+i+"]").prop("disabled", true);
			}
		}
	});
	$(".CP.selectpicker").selectpicker("refresh");
	$("[name=committee_preference]").val("["+order+"]");
	console.log($("[name=committee_preference]").val());
	PC_CHANGE(order);
}
</script>
{% end %}
