{% extends 'frame.html' %}
{% block content %}
<div class="container-fluid">
	<div class="row title-bar-height">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 30px;">
			<h3><p>Welcome to Taiwan Model United Nations Conference</p></h3>
		</div>
		<!--div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right; padding-top: 8px; font-size: 20px;">
			Taiwan
			<img src="/flag/ROC_FLAG.jpg" style="height: 50%; background-color: #F2F1EF;">
		</div-->
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-2">
		</div>
		<div class="col-lg-8">
		
			<form class="form-horizontal information-form">
                <input type="hidden" name="uid" value="{{acct['uid']}}">
				<h1>　</h1>
				<div class="form-group">
					<!--label class="col-sm-2 control-label"></label>
					<input type="hidden" name="ticket" value={{ticket}}>
					<div class="col-sm-10">
						{% if ticket == 0 %}
							<div class="col-sm-2 btn btn-default" style="background-color: #c9f8a9;">Early Registration<br>2400 NTD</div>
							<div class="col-sm-2 btn btn-default" style="margin-left: 10px;" disabled>Regular Registration<br>2700 NTD</div>
						{% else %}
							<div class="col-sm-2 btn btn-default" disabled>Early Registration<br>2400 NTD</div>
							<div class="col-sm-2 btn btn-default" style="margin-left: 10px; background-color: #c9f8a9;" disabled>Regular Registration<br>2700 NTD</div>

						{% end %}
					</div-->
					<label class="col-sm-2 control-label">Ticket</label>
					<div class="col-sm-3">
                        {% set TICKET = ['Early Registration (2400 NTD)', 'Regular Registration (2700 NTD)'] %}
                        <select name="ticket" class="selectpicker" data-width="100%">
                            {% for i,t in enumerate(TICKET) %}
                            <option value="{{i}}" {% if i == 1-ticket %}disabled{% end %}>{{t}}</option>
                            {% end %}
                        </select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Chinese Name</label>
					<div class="col-sm-3">
                        <input name="chinesename" class="form-control" type="text" value="{{meta['chinesename']}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">English Name</label>
					<div class="col-sm-3">
                        <input name="englishname" class="form-control" type="text" value="{{meta['englishname']}}">
					</div>
					<label class="col-sm-offset-2 col-sm-10 control-label" style="text-align: left">This is the name that will appear on your Participation Certificate.</label>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">ID Number</label>
					<div class="col-sm-3">
						<input name="id_number" type="text" class="form-control" value="{{meta['id_number']}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Gender</label>
					<div class="col-sm-3">
						<select name="gender" class="selectpicker" data-width="100%">
							<option>Male</option>
							<option>Female</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Birth</label>
					<div class="col-sm-3">
                        <input name="birth" type="text" class="form-control datepicker" value="{{meta['birth']}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nationality</label>
					<div class="col-sm-3">
						<select name="nationality" class="selectpicker" data-width="100%" data-size="20" data-live-search="true">
							{% for x in nationality %}
                                <option value="{{nationality[x]}}">{{nationality[x]}}</option>
							{% end %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Emergency Contact Person</label>
					<div class="col-sm-3">
                        <input name="emergency_person" type="text" class="form-control" value="{{meta['emergency_person']}}">
					</div>
					<label class="col-sm-3 control-label">His/Her Phone Number</label>
					<div class="col-sm-3">
						 <input name="emergency_phone" type="text" class="form-control" value="{{meta['emergency_phone']}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Vegetarian</label>
					<div class="col-sm-3">
						<select name="vegetarian" class="selectpicker" data-width="100%">
                            <option value="1" >Yes</option>
							<option value="0">No</option>
						</select>
					</div>
				</div>
				<h1>　</h1>
				<!--h1>University</h1-->
				<div class="form-group">
					<label class="col-sm-2 control-label">University</label>
					<div class="col-sm-3">
                        <input name="university" class="form-control" type="text" value="{{ meta['university'] }}">
					</div>
					<label class="col-sm-offset-2 col-sm-10 control-label" style="text-align: left">Full English name of School</label>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Department</label>
					<div class="col-sm-3">
                        <input name="department" class="form-control" type="text" value="{{ meta['department'] }}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Graduation Year</label>
					<div class="col-sm-3">
						<select name="grade" class="selectpicker" data-width="100%">
							{% for x in range(2010, 2021) %}
								<option>{{x}}</option>
							{% end %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Delegation</label>
					<div class="col-sm-3">
						<select name="delegation" class="selectpicker" data-width="100%" onchange="delegation_change();">
							<option value="1">Single</option>
							<option value="2">Double</option>
						</select>
					</div>
				</div>
				<div class="delegation form-group" hidden>
					<label class="col-sm-2 control-label">Partner's English Name</label>
					<div class="col-sm-3">
                        <input name="delegation_englishname" class="form-control" type="text" value="{{ meta['delegation_englishname'] }}">
					</div>
					<label class="col-sm-4 control-label" style="text-align: left">
						Exactly the same as how your partner wrote it
					</label>
				</div>
				<div class="delegation form-group" hidden>
					<label class="col-sm-2 control-label">Partner's Email</label>
					<div class="col-sm-3">
                        <input name="delegation_email" class="form-control" type="text" value="{{ meta['delegation_email'] }}">
					</div>
				</div>
				<h1>　</h1>
				<!--h1>Contact Information</h1-->
				<div class="form-group">
					<label class="col-sm-2 control-label">Country of Residence</label>
					<div class="col-sm-3">
						<select name="residence" class="selectpicker" data-width="100%" data-size="20" data-live-search="true">
							{% for x in nationality %}
								<option>{{nationality[x]}}</option>
							{% end %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">City</label>
					<div class="col-sm-3">
                        <input name="city" class="form-control" type="text" value="{{ meta['city'] }}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Address</label>
					<div class="col-sm-3">
                        <input name="address" class="form-control" type="text" value="{{ meta['address'] }}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Cellphone</label>
					<div class="col-sm-3">
                        <input name="cellphone" class="form-control" type="text" value="{{ meta['cellphone'] }}">
					</div>
				</div>
				<h1>　</h1>
				<!--h1>Other</h1-->
				<div class="form-group">
					<label class="col-sm-2 control-label">Accommodation</label>
					<div class="col-sm-3">
						<select name="require_accommodation" class="selectpicker" data-width="100%" value="0">
							<option value="1">Yes</option>
							<option value="0">No</option>
						</select>
					</div>
					<label class="col-sm-offset-2 col-sm-10 control-label" style="text-align: left;">
						TWMUN will not be responsible for delegates' accommodation. However, we do provide suitable hotels for delegates to choose from.
					</label>
				</div>
				<div class="form-group">
					<label class="col-sm-12">
						Committee Preference
					</label>
				</div>
				{% set ORDER = ["First", "Second", "Third", "Fourth", "Fifth", "Sixth"] %}
				{% set CP_OPTION = ["　", "DISEC (Disarmament and International Security Committee)", "SOCHUM (Social Humanitarian and Cultural Committee)", "ECOSOC (Economic and Social Council)", "IACHR (Inter-American Court of Human Rights)", "MPC (Main Press Center)", "立法院 (Legislative Yuan of ROC)"] %}
				{% for x in range (6) %}
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ORDER[x]}}</label>
						<div class="col-sm-3">
							<select class="CP selectpicker" data-width="100%" value="0" onchange="CP_CHANGE();">
								{% for y in range(7) %}
									<option class="CP_OPTION" value={{y}}>{{CP_OPTION[y]}}</option>
								{% end %}
							</select>
						</div>
					</div>
				{% end %}
				<input type="hidden" name="committee_preference">
				<div class="form-group PC" hidden>
					<label class="col-sm-offset-2 col-sm-10">
						How much you know about the MPC?
					</label>
					<div class="col-sm-offset-2 col-sm-5">
						<textarea name="pc1" class="form-control" rows="5" style="resize: none">{{meta["pc1"]}}</textarea>
					</div>
				</div>
				<div class="form-group PC" hidden>
					<label class="col-sm-offset-2 col-sm-10">
						Why do you want to join the MPC and how would you play your roll in the whole conference?
					</label>
					<div class="col-sm-offset-2 col-sm-5">
						<textarea name="pc2" class="form-control" rows="5" style="resize: none">{{meta["pc2"]}}</textarea>
					</div>
				</div>
				<br><br>
				<div class="form-group IACHR" hidden>
					<label class="col-sm-offset-2 col-sm-10">
						Tell us if you have any experience discussing topics related to human rights. If not, why do you think that human rights are important for humanity?
					</label>
					<div class="col-sm-offset-2 col-sm-5">
						<textarea name="iachr1" class="form-control" rows="5" style="resize: none">{{meta["iachr1"]}}</textarea>
					</div>
				</div>
				<div class="form-group IACHR" hidden>
					<label class="col-sm-offset-2 col-sm-10">
						Have you ever played a simulation of court before? If yes, which type of court and what role did you simulate? If not, what do you expect from the simulation?
					</label>
					<div class="col-sm-offset-2 col-sm-5">
						<textarea name="iachr2" class="form-control" rows="5" style="resize: none">{{meta["iachr1"]}}</textarea>
					</div>
				</div>
				<br><br>
				<div class="form-group">
					<label class="col-sm-offset-2 col-sm-10" style="text-align: justify;">
						Please list your participation and related information at Model UN Conferences (countries represented, awards won, etc.). If this is your first Model UN Conference, please describe any relevant experience with public speaking/research study:
					</label>
					<div class="col-sm-offset-2 col-sm-5">
						<textarea name="experience" class="form-control" rows="5" style="resize: none">{{meta["experience"]}}</textarea>
					</div>
				</div>
				<br><br>
				<div class="form-group">
					<label class="col-sm-offset-2 col-sm-8">
                        Is there anything else that you would let us to know?<br>
                        If you are the Head Delegate of a School Delegation, please provide the information of your delegation here. (School name, every delegate's Chinese name, total number of delegates)
					</label>
					<div class="col-sm-offset-2 col-sm-5">
						<textarea name="other" class="form-control" rows="5" style="resize: none">{{meta["other"]}}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-offset-2 col-sm-10">
						How did you hear about TWMUN?(複選)
					</label>
					<br>
					<div class="col-sm-offset-2 col-sm-8">
						{% set _hearabout = ["Friend", "Facebook", "Website", "MUN clubs in school", "School posts"] %}
						{% for x in _hearabout %}
							<div class="col-sm-4">
								<label>
									<input class="_hearabout" type="checkbox" onchange="HA_CHANGE();"
									{% if x in meta["hearabout"] %}
										checked
									{% end %}
									>{{x}}
								</label>
							</div>
						{% end %}
						<div class="col-sm-4">
							<div class="form-inline">
								<label><input class="_hearabout" type="checkbox" onchange="HA_CHANGE();"
								{% if len(meta["hearabout"]) and meta["hearabout"][-1] not in _hearabout %}
									checked
								{% end %}
								>Other:</label>
								<input class="HA_OTHER" type="text" onchange="HA_CHANGE();" style="background-color: white; border: 0px; border-bottom: 1px solid; width: 120px;"
								{% if len(meta["hearabout"]) and meta["hearabout"][-1] not in _hearabout %}
									value="{{meta['hearabout'][-1]}}"
								{% end %}
								>
							</div>
						</div>
					</div>
					<input name="hearabout" value="[]" type="hidden">
				</div>
				<br><br>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-2">
						<a class="btn btn-success btn-block has-spinner" onclick="information_save(this);"><span class="spinner"><img src="/728-1.GIF"></span>Save</a>
					</div>
					<div class="col-sm-2">
						<a class="btn btn-success btn-block has-spinner" onclick="information_submit(this);"><span class="spinner"><img src="/728-1.GIF"></span>Submit</a>
					</div>
					<div class="col-sm-2">
						<a class="btn btn-default btn-block has-spinner" onclick="logout(this);"><span class="spinner"><img src="/728.GIF"></span>Logout</a>
					</div>
				</div>
			</form>
		</div>
		<div class="col-lg-2">
		</div>
	</div>
</div>

<script>

$(document).ready(function(){
	document.title = "Information | TWMUN";
	$(".selectpicker").selectpicker({
		"dropupAuto": 0
	});
	$(".datepicker").datepicker({
		format: "yyyy/mm/dd",
		startDate: "1980/01/01",
		endDate: "1999/12/31"
	});
    $("[name=nationality]").selectpicker('val', '{{ meta["nationality"] }}');
    $("[name=residence]").selectpicker('val', '{{ meta["residence"] }}');
    $("[name=vegetarian]").selectpicker('val', parseInt({{ meta["vegetarian"] }}));
    $("[name=gender]").selectpicker('val', '{{ meta["gender"] }}');
    $("[name=grade]").selectpicker('val', '{{ meta["grade"] }}');
    $("[name=delegation]").selectpicker('val', parseInt({{ meta["delegation"] }}));
    $("[name=require_accommodation]").selectpicker('val', parseInt({{ meta["require_accommodation"] }}));
    $('[name=ticket]').selectpicker('val', {{ ticket }});
	delegation_change();
	CP = JSON.parse('{{meta["committee_preference"]}}');
	now = 0;
	$(".CP.selectpicker").each(function(){
		$(this).selectpicker('val', CP[now++]);
	});
	CP_CHANGE();
	HA_CHANGE();
});
function information_save(ele){
	data = $(".information-form").serialize();
    data += "&req=modify_info";
	$(ele).toggleClass("active disabled");
	console.log(data);
    $.post('/user', data, function(res){
        $(ele).toggleClass("active disabled");
		if(res == "S"){
			bootbox.alert('Saved', function(){
				window.location = window.location;
			});
		} else {
			bootbox.alert(res);
		}
    });
}
function information_submit(ele){
    //bootbox.alert("Please submit later. We are making changes on our server.");
	bootbox.dialog({
		message: "You won’t be able to change the information once you submit them. Please make sure that all the information here are correct.",
		title: "Confirm",
		buttons: {
			success: {
				label: "Yes, submit.",
				className: "btn-success",
				callback: function(){
					data = $(".information-form").serialize();
					data += "&req=confirm_info";
					$(ele).toggleClass("active disabled");
					$.post('/user', data, function(res){
						$(ele).toggleClass("active disabled");
						if(res == "S"){
							window.location = window.location;
						} else {
							bootbox.alert(res);
						}
					});
				}
			},
			danger: {
				label: "Back",
				className: "btn-danger",
				callback: function(){
				}
			}
		}
	});
}
function logout(ele){
	$(ele).toggleClass("active disabled");
	$.post("/logout", function(){
		$(ele).toggleClass("active disabled");
		window.location = window.location;
	});
}
function delegation_change(){
	if($("[name=delegation]").val()=="1"){
		$(".delegation:visible").animate({height: "toggle"});
	} else {
		$(".delegation:hidden").animate({height: "toggle"});
	}
}
function PC_CHANGE(order){
	show = false;
	for(i = 0 ; i < 3 ; i++)
		show = show | (order[i]==5);
	for(i = 0 ; i < 6 ; i++)
		if(!order[i])
			show = false;
	if(show){
		$(".PC:hidden").animate({height: "toggle"});
	} else {
		$(".PC:visible").animate({height: "toggle"});
	}
}
function IACHR_CHANGE(order){
	show = false;
	for(i = 0 ; i < 3 ; i++)
		show = show | (order[i]==4);
	for(i = 0 ; i < 6 ; i++)
		if(!order[i])
			show = false;
	if(show){
		$(".IACHR:hidden").animate({height: "toggle"});
	} else {
		$(".IACHR:visible").animate({height: "toggle"});
	}
}
function CP_CHANGE(){
	choose = [0, 0, 0, 0, 0, 0, 0];
	order = [0,0,0,0,0,0];
	now = 0;
	$(".CP.selectpicker").each(function(){
		x = parseInt($(this).val());
		choose[x] = 1;
		order[now++] = x;
	});
	$(".CP.selectpicker").each(function(){
		for(i = 1 ; i <= 6 ; i++){
			if(!choose[i] || parseInt($(this).val()) == i){
				$(this).find("[value="+i+"]").prop("disabled", false);
			} else {
				$(this).find("[value="+i+"]").prop("disabled", true);
			}
		}
	});
	$(".CP.selectpicker").selectpicker("refresh");
	$("[name=committee_preference]").val("["+order+"]");
	console.log($("[name=committee_preference]").val());
	PC_CHANGE(order);
	IACHR_CHANGE(order);
}
function HA_CHANGE(){
	HA = ["Friend", "Facebook", "Website", "MUN clubs in school", "School posts", "other"];
	str = "";
	now = 0;
	$("._hearabout").each(function(){
		if($(this).prop("checked")){
			if(str.length) str += ", ";
			if(now < 5){
				str += "\"" + HA[now] + "\"";
			} else {
				str += "\"" + $(".HA_OTHER").val() + "\"";
			}
		}
		now++;
	});
	console.log(str);
	$("input[name=hearabout]").val("["+str+"]");
	console.log($("input[name=hearabout]").val());
}
</script>
{% end %}
