{% extends 'frame.html' %}
{% block content %}
<div class="container-fluid">
	<div class="row title-bar-height">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top: 15px;">
			<div class="row">
				{% if meta["flag"] != None %}
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<img src='/{{meta["uid"]}}{{meta["flag"]}}' class="flag-small">
					</div>
					<div style="position: absolute; margin-left: 100px; font-size: 28px; padding-top: 12px;">
						{{meta["country"]}}
					</div>
					<!--div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="font-size: 28px; padding-top: 12px;">
						{{meta["country"]}}
					</div-->
				{% end %}
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 style="margin-top: 0px; padding-top: 10px;">
						{{meta["committee"]}}
					</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right; padding-top: 28px; padding-right: 28px;">
			{% if meta["pay"] %}
				<span class="glyphicon glyphicon-ok-sign" style="font-size: 20px; color: green;"></span>
			{% else %}
				<span class="glyphicon glyphicon-exclamation-sign" style="font-size: 20px; color: yellow;"></span>
			{% end %}
			<span style="font-size: 32px;">
				{{meta["englishname"]}}
			</span>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2"></div>
		<div id="content" class="col-sm-5" style="padding-bottom: 42px;">
		</div>
		<style>
			.d_link:hover{
				text-decoration: none;
			}
		</style>
		<div class="col-sm-1"></div>
		<div class="col-sm-4">
			<h1 style="color: #E05C5C;">Account Quick Links</h1>
			<h3>
				<a class="d_link" onclick="change_content('account_info');">Your Account</a><br>
				<a class="d_link" href="http://www.taiwanmun.org/" target="_blank">TWMNU Home</a><br>
				{% if not meta["pay"] %}
					{% if len(meta["paycode"]) %}
						<a class="d_link" data-toggle="tooltip" data-placement="right" title="Waiting for confirmation">Payment Information</a><br>
						{% if not (meta["nationality"] == meta["residence"] and meta["residence"] == "Taiwan") %}
							<a class="d_link" data-toggle="tooltip" data-placement="right" title="Waiting for confirmation">Pay Online</a><br>
						{% end %}
					{% else %}
						<a class="d_link" onclick="pay();">Payment Information</a><br>
						{% if not (meta["nationality"] == meta["residence"] and meta["residence"] == "Taiwan") %}
							<a class="d_link" onclick="pay_online();" >Pay Online</a><br>
						{% end %}
					{% end %}
				{% end %}
				<!--a class="d_link" data-toggle="tooltip" data-placement="right" title="Coming soon">Accommodations</a><br-->
                <a class="d_link" href="http://www.taiwanmun.org/accommodations.html" target="_blank">Accommodations</a><br>
                {% if meta["guide"] == None %}
    				<a class="d_link" data-toggle="tooltip" data-placement="right" title="Coming soon">Study Guide</a><br>
                {% else %}
    				<a class="d_link" data-toggle="tooltip" data-placement="right" title="Coming soon">Study Guide</a><br>
                    <!--a class="d_link" href="{{meta["guide"]}}" download>Study Guide</a><br-->
                {% end %}
				<a class="d_link" data-toggle="tooltip" data-placement="right" title="Coming soon">Country Assignment</a><br>

				<a class="d_link" data-toggle="tooltip" data-placement="right" title="Not available">Upload Position Paper</a><br>
				<!--a class="d_link" onclick="">Upload Position Paper</a><br-->
				<a class="d_link" onclick="change_content('contact');">Contact Us</a><br>
				<a class="d_link" onclick="changepassword();">Change Password</a><br>
				<a class="d_link" href="/logout">Log Out</a>
				<script>
					$(function () {
						$('[data-toggle="tooltip"]').tooltip()
					})
				</script>
			</h3>

		</div>
	</div>
</div>
<div class="hidden account_info">
	<h1 style="color: #E05C5C; font-size: 42px;">Your Account</h1>
	<h2 style="color: #3387A2;">Welcome {{meta["englishname"].split(" ")[0]}} !</h2>
	<h4 style="text-align: justify;">
		Welcome to your personalized webpage for Taiwan Model United Nations
		Conference! As we get closer to conference, this page will become your central
		hub from which you can check your payment status, see your country assignment,
		download the Study Guide, and upload your Position Paper. We are looking
		forward to your participation in TWMUN this October. See you soon!
	</h4>
	<h2 style="color: #3387A2">Payment</h2>
	<h4 style="text-align: justify;">
		Please note that after you have submitted your personal information, you
        have to make the payment within 10 days after the submission (<a target="_blank" href="http://www.taiwanmun.org/registration.html">detail</a>). Once the
		payment is made, please fill up the billing information on the right. The
		icon on the top indicates your payment status (
		<span class="glyphicon glyphicon-ok-sign" style="color: green;"></span>
		confirmed, 
		<span class="glyphicon glyphicon-exclamation-sign" style="color: yellow;"></span>
		not confirmed).
	</h4>
	<h4>
		*Note that for Taiwanese students, you have to pay via wire transfer. For
		students coming from abroad, PayPal and wire transfer are both available.
	</h4>
</div>
<div class="hidden contact">
	<h2>
		Secretary-General
	</h2>
	<h4>
		secgen@taiwanmun.org
	</h4>

	<h2>
		Chief of Operations
	</h2>
	<h4>
		chief.operations@taiwanmun.org
	</h4>

	<h2>
		Academic
	</h2>
	<h4>
		academic@taiwanmun.org
	</h4>

	<h2>
		Activities
	</h2>
	<h4>
		activities@taiwanmun.org
	</h4>

	<h2>
		Delegate Affairs
	</h2>
	<h4>
		delegate.affairs@taiwanmun.org
	</h4>

	<h2>
		Marketing
	</h2>
	<h4>
		marketing@taiwanmun.org
	</h4>

	<h2>
		Public Relations
	</h2>
	<h4>
		public.relations@taiwanmun.org
	</h4>
</div>
<div class="hidden change-password-modal">
	<form class="form-horizontal changepassword-form">
		<div class="form-group">
			<label class="col-sm-4 control-label">Password</label>
			<div class="col-sm-7">
				<input name="opwd" class="form-control" type="password">
			</div>
		</div>	
		<div class="form-group">
			<label class="col-sm-4 control-label">New Password</label>
			<div class="col-sm-7">
				<input name="npwd" class="form-control" type="password">
			</div>
		</div>	
		<div class="form-group">
			<label class="col-sm-4 control-label">Confirm Password</label>
			<div class="col-sm-7">
				<input name="rnpwd" class="form-control" type="password">
			</div>
		</div>
		<input type="hidden" name="req" value="change">
	</form>
</div>
<div class="hidden pay-modal">
	<form class="form-horizontal pay-form">
		<div class="form-group">
			<label class="col-sm-6 control-label">Last-five Digits of Paying Account</label>
			<div class="col-sm-6">
				<input name="paycode" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-6 control-label">Date Transferred</label>
			<div class="col-sm-6">
				<input name="paydate" class="form-control" type="text" placeholder="2015/07/01">
			</div>
		</div>
		<input type="hidden" name="req" value="update_pay">
	</form>
</div>
<div class="hidden pay-online-modal">
	<a href="{{payment_url}}" target="_blank" class="btn btn-large btn-default btn-block"><img src="/paypal.png" style="width: 100%;"></a>
	<br>
	<br>
	<form class="form-horizontal pay-form">
		<div class="form-group">
			<label class="col-sm-6 control-label">Last-four Digits of Credit Card</label>
			<div class="col-sm-6">
				<input name="paycode" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-6 control-label">Date Paid</label>
			<div class="col-sm-6">
				<input name="paydate" class="form-control" type="text" placeholder="2015/07/01">
			</div>
		</div>
		<input type="hidden" name="req" value="update_pay">
	</form>
</div>
<div class="hidden upload-pp-modal">
	<form name="pp" class="form-horizontal upload-pp-form">
		<div class="form-group">
			<label class="col-sm-4 control-label">檔案上傳</label>
			<div class="col-sm-7">
				<input name="pp" type="file">
			</div>
		</div>
		<input type="hidden" name="req" value="upload_pp">
	</form>
</div>
<!--href="payment_url"-->
<script>
$(document).ready(function(){
	document.title = "Homepage | TWMUN";
	change_content("account_info");
});

function changepassword(){
	message = $(".change-password-modal").html();
	bootbox.dialog({
		message: message,
		title: "Change Password",
		buttons: {
			success: {
				label: "Submit",
				className: "btn-success",
				callback: function() {
					data = $(".changepassword-form:visible").serialize();
					$.post("/login", data, function(msg){
						bootbox.alert(msg);
					});
				}
			},
			danger: {
				label: "Cancel",
				className: "btn-danger",
				callback: function() {
				}
			}
		}
	});
}
function change_content(con){
	$("#content").html($("."+con).html());
}
function logout(){
	$.post("/logout", function(){
		window.location = window.location;
	});
}
function pay(){
	message = $(".pay-modal").html();
	bootbox.dialog({
		message: message,
		title: "Payment Information",
		buttons: {
			success: {
				label: "Submit",
				className: "btn-success",
				callback: function() {
					data = $(".pay-form:visible").serialize();
					$.post("/user", data, function(msg){
                        if(msg == "S"){
    						bootbox.alert("Payment information sent.");
                            window.location.reload();
                        } else {
                            bootbox.alert("There is information missing. Please check again.");
                        }
					});
				}
			},
			danger: {
				label: "Cancel",
				className: "btn-danger",
				callback: function() {
				}
			}
		}
	});
}
function pay_online(){
	message = $(".pay-online-modal").html();
	bootbox.dialog({
		message: message,
		title: "Pay Online",
		buttons: {
			success: {
				label: "Submit",
				className: "btn-success",
				callback: function() {
					data = $(".pay-form:visible").serialize();
					$.post("/user", data, function(msg){
                        if(msg == "S"){
    						bootbox.alert("Payment information sent.");
                            window.location.reload();
                        } else {
                            bootbox.alert("There is information missing. Please check again.");
                        }
					});
				}
			},
			danger: {
				label: "Cancel",
				className: "btn-danger",
				callback: function() {
				}
			}
		}
	});
}
function upload_pp(){
	message = $(".upload-pp-modal").html();
	bootbox.dialog({
		message: message,
		title: "檔案上傳",
		buttons: {
			success: {
				label: "Upload",
				className: "btn-success",
				callback: function() {
                    alert('upload');
                    data = new FormData($('form[name=pp]:visible')[0]);
                    alert('upload');
                    $.ajax({
                        url: '/user',
                        type: 'POST',
                        data: data,
                        contentType: false,
                        processData: false,
                        cache: false,
                        success: function(res){
                            alert(res);
                            //window.location.reload();
                        }
                    });
				}
			},
			danger: {
				label: "Cancel",
				className: "btn-danger",
				callback: function() {
				}
			}
		}
	});
}
</script>
{% end %}

